<div class="da-content-banner">
  <!-- <d-breadcrumb>
      <d-breadcrumb-item>
        <a routerLink="/">{{ 'form.breadcrumb.home' | translate }}</a>
      </d-breadcrumb-item>
      <d-breadcrumb-item>
        {{ 'form.breadcrumb.formPage' | translate }}
      </d-breadcrumb-item>
      <d-breadcrumb-item>
        {{ 'form.breadcrumb.basicForm' | translate }}
      </d-breadcrumb-item>
    </d-breadcrumb> -->
  <div class="da-content-banner-title">Add New Municipality</div>
  <!-- <div>{{ 'form.basicForm.description' | translate }}</div> -->
</div>
<div class="da-content-wrapper">
  <div *ngIf="status == 'success'" class="alert alert--success">
    <span class="alert__text">Municipality added with success!</span>
  </div>
  <div *ngIf="status == 'failure'" class="alert alert--failure">
    <span class="alert__text">Your request was failure!</span>
  </div>
  <da-layout-row [daGutter]="[24, 24]">
    <da-col-item [daSpan]="24" [daXs]="24">
      <div class="da-basic-form">
        <form
          dForm
          ngForm
          [dValidateRules]="{
            message: 'The form verification failed, please check.'
          }"
          [layout]="verticalLayout"
          #projectForm="dValidateRules"
          (dSubmit)="submitProjectForm($event)"
          autocomplete="off"
        >
          <d-form-item>
            <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'This is the Code Postal.'">Code Postal</d-form-label>
            <d-form-control>
              <input
                dTextInput
                autocomplete="off"
                name="idMun"
                placeholder="Name"
                [(ngModel)]="municipalityFormData.idMun"
                [dValidateRules]="{
                  validators: [{ required: true }],
                  asyncValidators: [
                    {
                      sameName: this.checkCodePostal.bind(this),
                      message: 'Duplicate name.'
                    }
                  ]
                }"
              />
            </d-form-control>
          </d-form-item>

          <d-form-item>
            <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'This is the project name.'">Président</d-form-label>
            <d-form-control>
              <input
                dTextInput
                autocomplete="off"
                name="projectName"
                placeholder="Name"
                [(ngModel)]="municipalityFormData.president"
                [dValidateRules]="{
                  validators: [{ required: true }]
                }"
              />
            </d-form-control>
          </d-form-item>

          <d-form-item>
            <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'This is the project name.'">Maitre</d-form-label>
            <d-form-control>
              <input
                dTextInput
                autocomplete="off"
                name="projectName"
                placeholder="Name"
                [(ngModel)]="municipalityFormData.maitre"
                [dValidateRules]="{
                  validators: [{ required: true }]
                }"
              />
            </d-form-control>
          </d-form-item>

          <d-form-item>
            <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'This is the project name.'">Secritaire</d-form-label>
            <d-form-control>
              <input
                dTextInput
                autocomplete="on"
                name="projectName"
                placeholder="Name"
                [(ngModel)]="municipalityFormData.secritaire"
                [dValidateRules]="{
                  validators: [{ required: true }]
                }"
              />
            </d-form-control>
          </d-form-item>

          <d-form-operation>
            <d-button
              dLoading
              class="mr-element-spacing"
              [title]="projectForm.errorMessage || ''"
              circled="true"
              style="margin-right: 8px"
              [showLoading]="projectForm.pending"
              dFormSubmit
              [dFormSubmitData]="'submit-button'"
            >
              Submit
            </d-button>
          </d-form-operation>
        </form>
      </div>
    </da-col-item>
  </da-layout-row>
</div>
